:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    --border-color: #e5e7eb;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
}
.overlay {
    background: url(halie-west-25xggax4bSA-unsplash.jpg);
    /* zoom image out to show whole image */
    background-size: cover;
    flex: 2 1 auto;
    width: 45vw;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 60%;
}
.logo {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 45vw;
    min-width: 350px;
    height: 10vh;
    justify-content: center;
}
.logo-txt {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 4rem;
    color: white;
}
.logo-img {
    height: 4rem;
}
.credit>p {
    color: whitesmoke;
}
.hero {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 48px;
}
label {
    font-size: 0.9rem;
}
br {
    height: 2rem;
}
.container {
    flex: 1 1 auto;
    width: 55vw;
    background-color: whitesmoke;
}
.banner {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 6px;
    padding: 8px 48px;
}
.form-row {
    display: flex;
    gap: 10%;
    margin-bottom: 12px;
}
.input-and-label {
    display: flex;
    flex-direction: column;
}
button {
    margin-left: 48px;
    margin-top: 24px;
    width: 15vw;
    height: 3.5vh;
    background-color: #596d48;
    border-radius: 8px;
    color: white;
}
.log-in {
    margin-left: 48px;
    margin-top: 18px;
}
.log-in>a {
    color: #596d48;
    font-weight: bold;
}
input {
    border: var(--border-color);
    background-color: whitesmoke;
    width: 15vw;
}